body{
    background-color: black;
}
.linha1{
    display:flex;
   
    
}
.box{
    
    text-align: center;
    background-color: #00d0f5;
    width:50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    
    
    
}
.linha2{
    display:flex;
    justify-content:center;
    
}
.box2{
    text-align: center;
    background-color: #00d0f5;
    width:50px;
    height: 50px;
    border: 1px solid black;
    
}

.linha3{
    display:flex;
    justify-content:flex-end;
    
}
.box3{
    text-align: center;
    background-color: #00d0f5;
    width:50px;
    height: 50px;
    border: 1px solid black;
    
}

.linha4{
    display:flex;
    justify-content:space-between;
    
}
.box4{
    text-align: center;
    background-color: #00d0f5;
    width:50px;
    height: 50px;
    border: 1px solid black;
    
}
.linha5{
    display:flex;
    justify-content:space-around;
    
}
.box5{
    text-align: center;
    background-color:#00d0f5;
    width:50px;
    height: 50px;
    border: 1px solid black;
    
}
.linha6{
    display:flex;
    justify-content:space-evenly;
    
}
.box6{
    text-align: center;
    background-color: #00d0f5;
    width:50px;
    height: 50px;
    border: 1px solid black;
    
}
.linha7{
    display:flex;
    justify-content:center;
    
    
}
.box7{
    text-align: center;
    background-color:#00d0f5;
    width:50px;
    height: 50px;
    border: 1px solid black;
    
}

.linha8{
    display:flex;
    justify-content:space-between;
    
}
.box8{
    text-align: center;
    background-color: #00d0f5;
    width:50px;
    height: 50px;
    border: 1px solid black;
}  
.linha9{
    display:flex;
    justify-content:space-around;
    
}
.box9{
    text-align: center;
    background-color: #00d0f5;
    width:50px;
    height: 50px;
    border: 1px solid black;
    
}  
.linha10{
    display:flex;
    justify-content:center;

    
}
.box10{
    text-align: center;
    background-color: #00d0f5;
    width:50px;
    height: 50px;
    border: 1px solid black;
    
}